---
layout: base.njk
---

<div class="px-6 md:px-44 w-full max-w-4xl">
  <a href="/" class="text-neutral-500 dark:text-neutral-400 underline mb-8 block">&larr; Back to Home</a>
  
  <h1 class="text-3xl font-bold mb-2">{{ title }}</h1>
  <p class="text-neutral-500 dark:text-neutral-400 mb-8">{{ page.date | formatPostDate }}</p>
  
  <div class="prose dark:prose-invert max-w-none">
    {{ content | safe }}
  </div>
</div>
